/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header.hero {
    background: #008cff;
    padding: 12px 20px;
    text-align: center;
}

header .logo img {
    width: 120px;
    height: auto;
}

/* CONTEÚDO */
.container-politica {
    max-width: 850px;
    margin: 40px auto;
    padding: 20px;
}

.bloco {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.bloco h2 {
    font-size: 28px;
    color: #008cff;
    margin-bottom: 10px;
    text-align: center;
}

.bloco h3 {
    color: #008cff;
    font-size: 20px;
    margin-bottom: 10px;
}

.bloco p {
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    width: 100%;
    background: #008cff;
    /* azul padrão */
    color: #ffffff;
    /* texto branco */
    padding: 25px 20px;
    text-align: center;
    margin-top: 40px;
}

.linhadivisoria {
    width: 100%;
    height: 2px;
    background: #ffffff;
    /* linha branca */
    margin-bottom: 10px;
}

.linhadivisoria {
    display: none;
}


.text-footer p {
    font-size: 14px;
    color: #ffffff;
    /* texto branco */
}


/* RESPONSIVO */
@media (max-width: 768px) {
    header .logo img {
        width: 90px;
    }

    .bloco {
        padding: 20px;
    }

    .bloco h2 {
        font-size: 24px;
    }

    .bloco h3 {
        font-size: 18px;
    }
}